@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: white;
}

.list-container {
    min-height: 20px;
}

.item-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 8px 12px;
    border-radius: 6px;
    margin-top: 10px;
}